---
---
!!! 1.1
%html
    %head
        %title= @item[:title]

        - # Tiny link for Twitter & co.
        - if @item[:tiny]
            %link(rev="canonical" type="text/html" href="http://mutelight.org#{@item[:tiny]}")
        = render('_static_head')

    %body
        - content = yield
        #radial
        #shift
            #wrapper
                #header{ :onclick => '' }
                    %strong.hide
                        %a(href="http://mutelight.org" title="Mutelight") Mutelight
                - if @item[:kind] == 'article'
                    = render('_article', :item => @item, :content => content)
                    = render('_other_articles', :reference_item => @item)
                    #disqus_thread
                    :javascript
                        var disqus_shortname = 'mutelight';

                        var disqus_identifier = '#{@item[:tiny]}';
                        var disqus_url = 'http://mutelight.org#{route_path(item)}';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                - else
                    = content
                #about
                    %h2.hide About
                    :textile
                        p(important). I'm *Brandur Leach*, an engineer and developer operating out of Calgary, Canada doing work primarily in C#/.NET. This is Mutelight &mdash; my weblog. You should follow me on "Twitter (Brandur on Twitter)":http://twitter.com/fyrerise.

                        My current learning focus is functional languages like Clojure, Erlang, Haskell, and F#. At the moment I'm learning Haskell by hacking away on a "personal web framework":http://github.com/fyrerise/obsidian that uses Redis as its datastore.

                        I like learning guitar, "photography (Brandur on Flickr)":http://flickr.com/photos/brandurleach, "coding (Brandur on GitHub)":http://github.com/fyrerise, "listening to power and symphonic metal (Brandur on last.fm)":http://www.last.fm/user/fyrerise, and tennis. I prefer working on systems with a terminal, but I spend most of my time under Windows at work. Everything that I write is done in Vim.

                        div(#articles). "Archive (Article archive)":/archive.html

                        E-mail me anytime at *(mail)brandur@mutelight.org*.
                %br
                %br
        :javascript
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-6901854-1']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
