---
---
!!! 1.1
%html
    %head
        %title= @item[:title]

        - # Tiny link for Twitter & co.
        - if @item[:tiny]
            %link(rev="canonical" type="text/html" href="http://mutelight.org#{@item[:tiny]}")
        = render('_static_head')

    %body
        - content = yield
        #radial
        #shift
            #wrapper
                #header{ :onclick => '' }
                    %strong.hide
                        %a(href="http://mutelight.org" title="Mutelight") Mutelight
                - if @item[:kind] == 'article'
                    = render('_article', :item => @item, :content => content)
                    = render('_other_articles', :reference_item => @item)
                    #disqus_thread
                    :javascript
                        var disqus_shortname = 'mutelight';

                        var disqus_identifier = '#{@item[:tiny]}';
                        var disqus_url = 'http://mutelight.org#{route_path(item)}';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                - else
                    = content
                #about
                    %h2.hide About
                    :markdown
                        <p class="important">I'm a .NET and Rails designer, developer, and architect working out of Calgary. I've done extensive development work, and I'll work on many technology stacks. Drop me a line at <a href="mailto:brandur@mutelight.org">brandur@mutelight.org</a>.</p>

                        I'm interested in energy and how it relates to our society, muay thai, breakdancing, symphonic metal, surfing, and the guitar.

                        <div id="articles"><a href="/archive.html" title="Article archive">Archive</a></div>

                        [You should follow me on Twitter](http://twitter.com/fyrerise "Follow Brandur on Twitter").

                %br
                %br
        :javascript
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-6901854-1']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
